.dualrange-interval-bar {
  background-color: hsl(100, 80%, 75%);
}
.dualrange-interval {
  background-color: hsl(100, 80%, 35%);
}
.dualrange-handle {
  background-color: hsl(220, 68%, 32%);
}
.dualrange-handle:after {
  background-color: white;
}

.dualrange-value {
  padding: 0.2em 0.5em;
  margin: 0.3em;
  background-color: hsl(220, 68%, 32%);
  color: white;
  border-radius: 0.2em;
  font-family: sans-serif;
}
