*,
*:before,
*:after {
  box-sizing: border-box;
}

.dualrange {
  width: auto;
  --height: 1em;
  --min: 0.2;
  --max: 0.7;
  user-select: none;
  margin: 1em;
  height: var(--height);
  position: relative;
}

.dualrange-interval-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  bottom: 25%;
  background-color: #d5d5d5;
  border-radius: var(--height);
}

.dualrange-interval {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(var(--min) * 100%);
  right: calc((1 - var(--max)) * 100%);
  background-color: #1ab0a9;
}

.dualrange-handles {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.dualrange-handle {
  cursor: ew-resize;
  position: absolute;
  top: calc((var(--height) / -2));
  border-radius: 100%;
  width: var(--height);
  height: var(--height);
  background-color: #466dad;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: 100%;
    margin: calc(var(--height) / 4);
  }
}

.dualrange-value-wrapper {
  position: absolute;
  left: -5em;
  right: -5em;
  top: var(--height);
  display: flex;
  justify-content: center;
}

.dualrange-handle-1 {
  left: calc(var(--height) / -2 + var(--min) * 100%);
}

.dualrange-handle-2 {
  left: calc(var(--height) / -2 + var(--max) * 100%);
}

.dualrange-focus * {
  cursor: ew-resize !important;
}
